body {
    background: #D8E3E7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.profile_pic {
    border-radius: 50%;
    border: 1px solid #132C33;
    display: block;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: #132C33;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #132C33;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #63c1ce;
    padding: 15px;
    border: 3px solid #126E82;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
}